<header>
  <app-nav></app-nav>
  <div class="tagline">
      
    <h1>Create Your Own <br/>  Website in Minutes</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolorum esse, aut, suscipit ratione at aspernatur fugiat, non voluptatem nulla sit natus nobis architecto. Ratione ad deleniti totam accusamus pariatur?</p>
    <div>
        <a href="#" class="contact">Free Trial</a> 
        <a href="#" class="learn-more">Learn More</a> 
    </div>
   
  </div>
 
  <img src="/assets/app-development.png" />
 <div class="overlay"></div>
</header>
