<footer>
        <ul>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Log in</a></li>
        </ul>
        <ul>
          
            <li><a href="#">DesignTools</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <ul>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Prices</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Get Started</a></li>
         
        </ul>
        <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>

</footer>
